<h1>Bem vindo!</h1>

<form method="post" action="/cadastro" id="loginForm">
    <div>
        <label for="username">Nome de Usuário: </label>
        <input
            type="text"
            name="username"
            placeholder="Digite o nome do usuário..."
        />
    </div>
    <div>
        <label for="email">Email: </label>
        <input
            type="email"
            name="email"
            placeholder="Digite o email que será cadastrado..."
        />
    </div>
    <div>
        <label for="password">Senha: </label>
        <input
            type="password"
            name="password"
            placeholder="Digite a senha..."
        />
    </div>

    <button type="submit">Criar Conta</button>
</form>
